<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.appnode.gtinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppContextHelper"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameServerItemListActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".GameServerItemDetailActivity"
            android:label="@string/title_gameserveritem_detail">
            android:parentActivityName=".GameServerItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameServerItemListActivity" />
        </activity>
        <activity
            android:name=".AddGameServerDialogActivity"
            android:excludeFromRecents="true"
            android:label="@string/server_add_title"
            android:theme="@android:style/android:Theme.Holo.Light.Dialog"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.appnode.gtinfo.GameServerItemListActivity" />
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/preferences_activity_title"></activity>
        <activity android:name=".AddGameServerActivity"></activity>
    </application>

</manifest>
